a {
    text-decoration: none;
    color: #adacac;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    height: 70px;
    background-color: rgb(42, 42, 42);
}

/* Site Logo */


/* Search Bar */
.searchBar {
    display: flex;
    align-items: center;
    background-color: rgb(122, 122, 122);
    padding: 5px;
    border-radius: 5px;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

/* Auth Links */
.authLinks {
    display: flex;
    gap: 15px;
    font-size: 15px;
    margin: 0 5px;
}

